name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          python -m pip install -U pip
          python -m venv .venv
          . .venv/bin/activate
          python -m pip install -r requirements-test.txt -r requirements-docs.txt pre-commit ruff nox
          python -m pip install -e .
      - name: Pre-commit
        run: |
          . .venv/bin/activate
          pre-commit run -a
      - name: Quality
        env:
          COV_FAIL_UNDER: "68"
        run: |
          . .venv/bin/activate
          bash quality.sh all
