name: coverage

on:
  push:
  pull_request:

jobs:
  cov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip

      - name: Install
        run: |
          python -m pip install -r requirements-test.txt
          python -m pip install -e .

      - name: Run tests with coverage
        run: |
          pytest -q --cov=src/sdetkit --cov-report=term-missing --cov-report=xml --cov-fail-under=68
