name: SBOM

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  cyclonedx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install CycloneDX tool
        run: |
          python -m pip install -U pip
          python -m pip install cyclonedx-bom

      - name: Generate SBOM
        run: |
          cyclonedx-py environment -o sbom.cdx.json

      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v6
        with:
          name: sbom-cyclonedx
          path: sbom.cdx.json
