name: SBOM

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  cyclonedx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: "3.12"

      - name: Install project dependencies + CycloneDX
        run: |
          python -m pip install -r requirements-test.txt -r requirements-docs.txt -e .
          python -m pip install cyclonedx-bom==4.1.0

      - name: Generate SBOM
        run: |
          cyclonedx-py environment -o sbom.cdx.json

      - name: Upload SBOM artifact
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f  # v7.0.0
        with:
          name: sbom-cyclonedx
          path: sbom.cdx.json
